body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 350px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(13, 6, 6, 0.926);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=text]:focus,
input[type=number]:focus {
    border-color: #66afe9;
    outline: none;
}

.btn {
    width: 107%;
    padding: 12px;
    background-color: #0d9641; /* Bootstrap success color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #3307f6; /* Darker green on hover */
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
        margin-top: 20px; /* Adjust top margin for smaller screens */
        margin-bottom: 20px; /* Adjust bottom margin for smaller screens */
    }
}

.centered-div {
    width: 30%;          /* Set a width */
    margin: 0 auto;     /* Center horizontally */
    padding: 20px;
}